<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <!-- Font Mambo Logo -->
  <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">

  <!--font awesome-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  <!-- mambo CSS-->
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <title>Mambo</title>
</head>

<body>
  <nav>
    <div class="nav-wrapper">
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="/" style="font-family: 'Lobster'; font-size:24px">Mambo</a></li>
        <li><a href="#"></a></li>
        <li><a href="#">Services</a></li>
      </ul>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li>
          <div class="input-field col s8">
            <i class="material-icons prefix">search</i>
            <input type="text" placeholder="search" id="autocomplete-input" class="autocomplete white-text">
          </div>
        </li>
        <li><a class="waves-effect waves-light btn-small"><i class="material-icons right">power_settings_new</i>Log
            in</a></li>
      </ul>
    </div>
  </nav>


  {{{body}}}

  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Footer Content</h5>
          <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
          <a href="#" class="w3-button w3-black w3-padding-large w3-margin-bottom"><i
              class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Find us On</h5>
          <i class="fab fa-facebook-square"></i>
          <i class="fab fa-instagram"></i>
          <i class="fab fa-snapchat"></i>
          <i class="fab fa-pinterest-p"></i>
          <i class="fab fa-twitter"></i>
          <i class="fab fa-linkedin"></i>
        </div>
      </div>
    </div>
  </footer>
  <!-- jquery-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

  <script>
    $('.carousel.carousel-slider').carousel({
      fullWidth: true,
      indicators: true
    });
  </script>
</body>

</html>