<!-- Header -->
<header id="header">
    <div class="inner">
        <a href="#" class="image avatar"><img src="assets/images/HandlabLogo.png" alt="" /></a>
        <h1><strong>Handlab</strong>, looking for<br />
            the perfect look for your hands and feet<br />
            <!-- crafted by <a href="http://html5up.net">HTML5 UP</a>.</h1> -->

            <br>
            <div>
                <h6>Location</h7>
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d16471.32902764365!2d-99.17768231438012!3d19.412202326450817!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb6f804022b400fdb!2sHand+Lab+Condesa!5e0!3m2!1ses-419!2smx!4v1556757853515!5m2!1ses-419!2smx"
                        width="300" height="225" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
    </div>
</header>

<!-- Main -->
<div id="main" >
    <h5>Title</h5>
    <hr>
    <h6>test</h6>

    <div class="row">
    <div class="col s12 m5">
      <div class="card">
        <div class="card-image">
          <img src="/img/test.jpeg">
          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">calendar_today</i></a>
        </div>
        <div class="card-content">
          <span class="card-title">Card Title</span>
          <p>Test text</p>
        </div>
      </div>
    </div>
    
  </div>

</div>